.main-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: #fff;


    .main-nav-holder {
        @include flexbox;
        justify-content: space-between;
    }


    .brand {
        height: 50px;
        display: inline-block;


        img {
            height: 100%;
        }
    }

}