* {
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
  color: $primary-text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondary-font;
  color: $secondary-color;
}

a {
  transition: all 0.3s;
}

.container {
  max-width: $small-container;
  width: $small-container;
  padding: 0 23px;
  margin: 0 auto;
}

@media all and (min-width: $large) {
  .container {
    max-width: $small-container;
  }
}

@media all and (min-width: $extra-large) {
  .container {
    max-width: $extra-large-container;
  }
}
